@model Customer
@{
    ViewBag.Title = "Customer";
}
@using NonFactors.Mvc.Grid

<h2>Profile</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@if (Model != null)
{
    
    <div class="container">
        <a class="btn-primary" asp-controller="Asset" asp-action="BuyNew" asp-route-id=@Model.Id>Add new</a>
    </div>
    <div class="container">
        <table>
          <tr>
            <th>AssetID</th>
            <th>Name</th>
            <th>Price</th>
            <th>CurencyID</th>
          </tr>
            @foreach(var asset in Model.Assets)
            {
                <tr>
                    <td>@asset.Id</td>
                    <td>@asset.Name</td>
                    <td>@asset.Price</td>
                    <td>@asset.CurrencyID</td>
                </tr>            
            }
        </table>
    </div>    
}
